# React Native
node_modules/
npm-debug.log
yarn-error.log
ios/Pods/
ios/Podfile.lock
yarn.lock

# Android
android/.gradle/
android/app/build/
android/app/src/main/res/*.png
*.iml
.gradle/
build/

# Java
*.class
*.jar

# macOS files
.DS_Store
/vendor/

